{% extends 'base.html' %}

{% block body %}

<main>
     <div class="container">
        <div class="row text-center">
           <div class="col-sm-12">
             <br/>
             <h1>Gratulacje, rejestracja zakończona sukcesem.</h1>
             <br/>
             <p> Możesz się teraz zalogować</p>
             <br/>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
               <a class="btn btn-warning btn-block custom-btn" href="/login/new" role="button"><b> <span class="glyphicon glyphicon-log-in"></span> Logowanie</b></a>
           </div>
        </div>
     </div>
  </main>

{% endblock %}
