{% extends 'loggedIn.html' %}

{% block body %}

<main>
 <div class="container">
     <article>
        <div class="row text-center">
           <div class="col-sm-8 col-sm-offset-2" style="position: relative;">

           <div class="dropdown calendar_button text-center">
             <button class="btn btn-warning btn-block custom-btn dropdown-toggle" id="calendar_menu" type="button" data-toggle="dropdown">
                 <span class="glyphicon glyphicon-calendar" style="font-size: 30px;"></span>
             </button>
             <div class="dropdown-menu" role="menu" aria-labelledby="calendar_menu" name="calendar_menu">
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="/balance/currentMonth">Bieżący miesiąc</a></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="/balance/previousMonth">Poprzedni miesiąc</a></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="/balance/currentYear">Bieżący rok</a></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#choose_date_modal" data-toggle="modal">Wybierz okres</a></li>
             </div>
           </div>

           <div class="modal fade" id="choose_date_modal" tabindex="-1" role="dialog" aria-labelledby="choose_date_label" aria-hidden="true">
             <div class="modal-dialog" role="document">

                 <div class="modal-content">

                     <div class="modal-header">
                          <h2 class="modal-title" id="choose_date_label">Wybierz okres</h2>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button>
                     </div>

                    <form method="POST" action="/balance/index">
                    <div class="modal-body">

                       <div class="form-group">
                           <label for="date_from">Data od </label>
                             <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-hourglass"></i></span>
                                <input id="date_from" type="date" class="form-control" name="date_from">
                             </div>
                       </div>

                       <div class="form-group">
                           <label for="date_to">Data do </label>
                             <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-hourglass"></i></span>
                                <input id="date_to" type="date" class="form-control" name="date_to">
                             </div>
                       </div>

                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                       <button type="submit" class="btn btn-success">Zapisz</button>
                    </div>
                    </form>
                 </div>
             </div>
           </div>

           <h1><b>Bilans </b></h1>

           {% for message in flash_messages %}
             <div class="success">
                 {{ message }}
             </div><br/>
           {% endfor %}

           Okres:

           {% if choosenDatePeriod == 'current_month' %}
               Bieżący miesiąc
           {% elseif choosenDatePeriod == 'previous_month' %}
               Poprzedni miesiąc
           {% elseif choosenDatePeriod == 'current_year' %}
               Bieżący rok
           {% elseif choosenDatePeriod == 'date_period' %}
               Od {{ dateFrom }} do {{ dateTo }}
           {% endif %}

           {% for income in incomes %}
               <div class="row income">
                  <div class="col-sm-1" style="margin-top: 20px;">
                  <div style="font-size: 40px;"><span class="glyphicon glyphicon-plus"></span></div>
                  </div>

                  <div class="col-sm-2" style="margin-top: 27px;">
                  <div style="font-size: 25px;"><b>{{ income[0] }}</b></div>
               </div>
              {% if income[3] == '' %}
                 <div class="col-sm-6">
                    <div  style="font-size: 22px; margin-top: 28px;"><b>{{ income[1] }}</b></div>
                 </div>
               {% else %}
                  <div class="col-sm-6">
                      <div  style="font-size: 22px; margin-top: 15px;"><b>{{ income[1] }}</b></div>
                      <div  style="font-size: 15px; margin-top: 5px;">{{ income[3] }}</div>
                  </div>
               {% endif %}
                  <div class="col-sm-2" style="margin-top: 32px;">
   						<div style="font-size: 18px;">{{ income[2] }}</div>
   					</div>

   					<div class="col-sm-1" style="margin-top: 15px;">
                     <a href="#edit_single_income_{{ income[4] }}" data-toggle="modal">
                        <div>
                            <span class="glyphicon glyphicon-pencil">
                        </div>
                     </a>
                     <a href="#delete_single_income_{{ income[4] }}" data-toggle="modal">
                        <div>
                           <span class="glyphicon glyphicon-trash">
                        </div>
                     </a>
   					</div>
   				</div>


               <div class="modal fade" id="edit_single_income_{{ income[4] }}" tabindex="-1" role="dialog" aria-labelledby="edit_single_income_{{ income[4] }}" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                       <div class="modal-header">
                              <h2 class="modal-title" id="edit_single_income_{{ income[4] }}">Edytowanie przychodu</h2>
                       </div>

                       <form method="POST" action="/balance/editSingleIncome">
                          <div class="modal-body">

                             <div class="form-group">
                                <div class="input-group">
                                   <input id="singleIncomeId" type="hidden" class="form-control" name="singleIncomeId" value="{{ income[4] }}">
                                </div>
                             </div>
                             <div class="form-group">
                               <label for="amount">Kwota:</label>
                               <div class="input-group">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                 <input id="amount" type="number" step="0.01" class="form-control" name="amount" placeholder="Kwota" value="{{ income[0] }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date">Data:</label>
                                 <div class="input-group">
                                     <span class="input-group-addon"><i class="glyphicon glyphicon-hourglass"></i></span>
                                     <input id="date" type="date" class="form-control" name="date" placeholder="Data" value="{{ income[2] }}" required>
                                 </div>
                            </div>

                            <div class="form-group">
                               <label for="payment_method">Kategoria:</label>
                               {% for categories in income_categories %}
                                  {% if categories[1] == income[1] %}
                                     <div class="radio">
                                     <label><input type="radio" value="{{ categories[0] }}" name="category" checked required>{{ categories[1] }} </label>
                                     </div>
                                  {% else %}
                                     <div class="radio">
                                     <label><input type="radio" value="{{ categories[0] }}" name="category" required>{{ categories[1] }} </label>
                                     </div>
                                  {% endif %}
                               {% endfor %}

                            </div>
                            <div class="form-group">
                               <label for="comment">Komentarz:</label>
                               <textarea class="form-control" rows="3" id="comment" name="comment">{{ income[3] }}</textarea>
                            </div>

                              <button type="submit" class="btn btn-success">Tak</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>

                          </div>
                       </form>
                    </div>
                </div>
               </div>


               <div class="modal fade" id="delete_single_income_{{ income[4] }}" tabindex="-1" role="dialog" aria-labelledby="delete_single_income_{{ income[4] }}" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                       <div class="modal-header">
                              <h2 class="modal-title" id="delete_single_income_{{ income[4] }}">Usuwanie przychodu</h2>
                       </div>

                       Czy jesteś pewny, że chcesz usunąć ten przychód?

                       <form method="POST" action="/balance/deleteSingleIncome">
                          <div class="modal-body">
                              <div class="form-group">
                                 <div class="input-group">
                                    <input id="singleIncomeId" type="hidden" class="form-control" name="singleIncomeId" value="{{ income[4] }}">
                                 </div>
                              </div>
                              <button type="submit" class="btn btn-success">Tak</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                          </div>
                       </form>

                    </div>
                </div>
               </div>

           {% endfor %}


           {% for expense in expenses %}
           <div class="row expense">
             <div class="col-sm-1" style="margin-top: 20px;">
                <div style="font-size: 40px;"><span class="glyphicon glyphicon-minus"></span></div>
             </div>

             <div class="col-sm-2" style="margin-top: 27px;">
                <div style="font-size: 25px;"><b>{{ expense[0] }}</b></div>
             </div>
             {% if expense[4] == '' %}
             <div class="col-sm-6">
					<div  style="font-size: 22px; margin-top: 10px;"><b>{{ expense[1] }}</b></div>
					<div  style="font-size: 18px; margin-top: 5px;">{{ expense[2] }}</div>
				</div>
             {% else %}
             <div class="col-sm-6">
   					<div  style="font-size: 22px; margin-top: 5px;"><b>{{ expense[1] }}</b></div>
   					<div style="font-size: 18px;">{{ expense[2] }}</div>
   					<div  style="font-size: 12px; margin-top: 5px;">{{ expense[4] }}</div>
			    </div>
             {% endif %}
             <div class="col-sm-2" style="margin-top: 32px;">
   					<div style="font-size: 18px;">{{ expense[3] }}</div>
   				</div>

               <div class="col-sm-1" style="margin-top: 15px;">
                  <a href="#edit_single_expense_{{ expense[5] }}" data-toggle="modal">
                     <div>
                         <span class="glyphicon glyphicon-pencil">
                     </div>
                  </a>
                  <a href="#delete_single_expense_{{ expense[5] }}" data-toggle="modal">
                     <div>
                        <span class="glyphicon glyphicon-trash">
                     </div>
                  </a>
               </div>
   			</div>


            <div class="modal fade" id="edit_single_expense_{{ expense[5] }}" tabindex="-1" role="dialog" aria-labelledby="edit_single_expense_{{ expense[5] }}" aria-hidden="true">
             <div class="modal-dialog" role="document">

                 <div class="modal-content">

                    <div class="modal-header">
                           <h2 class="modal-title" id="edit_single_expense_{{ expense[5] }}">Edytowanie wydatku</h2>
                    </div>

                    <form method="POST" action="/balance/editSingleExpense">
                       <div class="modal-body">

                          <div class="form-group">
                             <div class="input-group">
                                <input id="singleExpenseId" type="hidden" class="form-control" name="singleExpenseId" value="{{ expense[5] }}">
                             </div>
                          </div>
                          <div class="form-group">
                             <label for="amount">Kwota:</label>
                             <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                <input id="amount" type="number" step="0.01" class="form-control" name="amount" placeholder="Kwota" value="{{ expense[0] }}" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="date">Data:</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-hourglass" ></i></span>
                                  <input id="date" type="date" class="form-control" name="date" placeholder="Data" value="{{ expense[3] }}" required>
                                </div>
                          </div>

                          <div class="form-group">
                             <label for="payment_method">Metoda płatności:</label>

                             {% for methods in payment_method %}
                                {% if methods[1] == expense[2] %}
                                <div class="radio">
                                   <label><input type="radio" value="{{ methods[0] }}" name="method" checked required>{{ methods[1] }}</label>
                                </div>
                                {% else %}
                                <div class="radio">
                                   <label><input type="radio" value="{{ methods[0] }}" name="method" required>{{ methods[1] }}</label>
                                </div>
                                {% endif %}
                             {% endfor %}

                          </div>

                          <div class="form-group">
                             <label for="selection_expense">Kategoria:</label>
                             <select class="form-control" name="category">

                                {% for categories in expense_categories %}
                                   {% if categories[1] == expense[1] %}
                                       <option value="{{ categories[0] }}" selected required>{{ categories[1] }}</option>
                                   {% else %}
                                       <option value="{{ categories[0] }}" required>{{ categories[1] }}</option>
                                   {% endif %}
                                {% endfor %}

                             </select>
                          </div>

                          <div class="form-group">
                             <label for="comment">Komentarz:</label>
                             <textarea class="form-control" rows="3" id="comment" name="comment"> {{ expense[4] }}</textarea>
                          </div>

                           <button type="submit" class="btn btn-success">Tak</button>
                           <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>

                       </div>
                    </form>
                 </div>
             </div>
            </div>

            <div class="modal fade" id="delete_single_expense_{{ expense[5] }}" tabindex="-1" role="dialog" aria-labelledby="delete_single_expense_{{ expense[5] }}" aria-hidden="true">
             <div class="modal-dialog" role="document">

                 <div class="modal-content">

                    <div class="modal-header">
                           <h2 class="modal-title" id="delete_single_expense_{{ expense[5] }}">Usuwanie wydatku</h2>
                    </div>

                    Czy jesteś pewny, że chcesz usunąć ten wydatek?

                    <form method="POST" action="/balance/deleteSingleExpense">
                       <div class="modal-body">
                           <div class="form-group">
                              <div class="input-group">
                                 <input id="singleExpenseId" type="hidden" class="form-control" name="singleExpenseId" value="{{ expense[5] }}">
                              </div>
                           </div>
                           <button type="submit" class="btn btn-success">Tak</button>
                           <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                       </div>
                    </form>

                 </div>
             </div>
            </div>

          {% endfor %}

				<br/> Bilans za wybrany okres wynosi: <b>{{ balance }}</b><br/>
            {% if balance > 0 %}
                  <div style="color: green; font-size: 25px;"><b>Gratulacje, świetnie zarządzasz finansami!</b></div>
            {% elseif balance <= 0 %}
                  <div style="color: red; font-size: 25px;"><b>Czas zacząć oszczędzać</b></div>
            {% endif %}

            {% if categoryCounter != 0 %}

               <script>
                  window.onload = function()
                  {
                     var chart = new CanvasJS.Chart("chartContainer",
                     {
                           animationEnabled: true,
                           title: {
                              text: "Kategorie wydatków"
                           },
                           data: [{
                              type: "pie",
                              yValueFormatString: "#,##0.00\" PLN\"",
                              indexLabel: "{label} ({y})",
                              dataPoints: {{ dataChart|raw }}
                            }]
                     });
                     chart.render();
                  }
               </script>

               <div id="chartContainer" style="height: 370px; width: 100%;"></div>

            {% endif %}

          </div>
       </div>
     </article>
   </div>
</main>

{% endblock %}
