{% extends 'loggedIn.html' %}

{% block footer %}

    <script>

        $.validator.addMethod('validPassword',
            function(value, element, param) {

                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Hasło powinno posiadać co najmniej jedną literę oraz cyfrę'
        );

        $(document).ready(function() {

            $('#editPassword').validate({
                rules: {
                    oldPassword: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    newPassword: {
                       required: true,
                       minlength: 6,
                       validPassword: true
                    },
                    newPasswordConfirmation: {
                         equalTo: '#newPassword'
                     }
                }
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
<main>
  <div class="container">
     <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
           <article>
              <h1><b>Ustawienia</b></h1><br/>

              {% for message in flash_messages %}
                 <div class="success">
                    {{ message }}
                 </div><br/>
              {% endfor %}

              <button class="btn btn-warning btn-block custom-btn" data-toggle="collapse"  data-target="#editIncomes"><b>Kategorie przychodów</b></button>
              <div id="editIncomes" class="collapse">
                 {% for categories in income_categories %}
                 <div style="padding: 30px;">
                       <div class="col-sm-6">
                          {{ categories.name }}
                       </div>
                        <div class="col-sm-6">
                           <div class="col-sm-6">
                                <button type="button" class="btn btn-primary btn-block" href="#edit_income_category_{{ categories.id }}" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Edytuj</button>
                             </div>
                             <div class="col-sm-6">
                                <button type="button" class="btn btn-danger btn-block" href="#delete_income_category_{{ categories.id }}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
                             </div>
                        </div>
                     </div>

                     <div class="modal fade" id="edit_income_category_{{ categories.id }}" tabindex="-1" role="dialog" aria-labelledby="edit_income_category_{{ categories.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="edit_income_category_{{ categories.id }}">Edycja katerogii przychodu</h2>
                             </div>

                             Aby zmienić nazwę kategorii, wypełnij poniższe pole

                             <form method="POST" action="/settings/editIncomeCategory">
                                <div class="modal-body">

                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="incomeCategoryName" type="hidden" class="form-control" name="incomeCategoryName" value="{{ categories.name }}">
                                      </div>
                                   </div>

                                   <div class="form-group">
                                    <label for="inputNewIncomeCategory">Nowa nazwa kategorii:</label>
                                    <div class="input-group">
                                       <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                       <input id="inputNewIncomeCategory" type="text" class="form-control" name="inputNewIncomeCategory" placeholder="Nowa nazwa" value="{{ categories.name }}" required />
                                    </div>
                                 </div>

                                   <button type="submit" class="btn btn-success">Zmień</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>

                    <div class="modal fade" id="delete_income_category_{{ categories.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_income_category_{{ categories.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="delete_income_category_{{ categories.id }}">Usuwanie katerogii przychodu</h2>
                             </div>

                             Czy jesteś pewny, że chcesz usunąć kategorię - {{ categories.name }}?

                             <form method="POST" action="/settings/deleteIncomeCategory">
                                <div class="modal-body">
                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="incomeCategoryId" type="hidden" class="form-control" name="incomeCategoryId" value="{{ categories.id }}">
                                      </div>
                                   </div>
                                   <button type="submit" class="btn btn-success">Tak</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>
                 {% endfor %}

                 <div class="col-sm-12" style="padding: 30px;">
                    <button type="button" class="btn btn-success btn-block" href="#add_new_income_category" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Dodaj nową kategorię</button>
                 </div>


                 <div class="modal fade" id="add_new_income_category" tabindex="-1" role="dialog" aria-labelledby="add_new_income_category" aria-hidden="true">
                  <div class="modal-dialog" role="document">

                      <div class="modal-content">

                         <div class="modal-header">
                               <h2 class="modal-title" id="add_new_income_category">Dodawanie nowej kategorii przychodu</h2>
                         </div>

                         Aby dodać nową kategorię, wypełnij poniższe pole

                         <form method="POST" action="/settings/addIncomeCategory">
                            <div class="modal-body">

                               <div class="form-group">
                                <label for="inputNewIncomeCategory">Nowa nazwa kategorii:</label>
                                <div class="input-group">
                                   <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                   <input id="inputNewIncomeCategory" type="text" class="form-control" name="inputNewIncomeCategory" placeholder="Nazwa kategorii" required />
                                </div>
                             </div>

                               <button type="submit" class="btn btn-success">Dodaj</button>
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                         </form>

                      </div>
                  </div>
                </div>

              </div><br/>

              <button class="btn btn-warning btn-block custom-btn" data-toggle="collapse"  data-target="#editExpenses"><b>Kategorie wydatków</b></button>
              <div id="editExpenses" class="collapse">
                 {% for categories in expense_categories %}
                 <div style="padding: 30px;">
                       <div class="col-sm-6">
                          {{ categories.name }}
                       </div>
                        <div class="col-sm-6">
                           <div class="col-sm-6">
                                <button type="button" class="btn btn-primary btn-block" href="#edit_expense_category_{{ categories.id }}" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Edytuj</button>
                             </div>
                             <div class="col-sm-6">
                                <button type="button" class="btn btn-danger btn-block" href="#delete_expense_category_{{ categories.id }}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
                             </div>
                        </div>
                     </div>

                     <div class="modal fade" id="edit_expense_category_{{ categories.id }}" tabindex="-1" role="dialog" aria-labelledby="edit_expense_category_{{ categories.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="edit_expense_category_{{ categories.id }}">Edycja katerogii wydatków</h2>
                             </div>

                             Aby zmienić nazwę kategorii, wypełnij poniższe pole

                             <form method="POST" action="/settings/editExpenseCategory">
                                <div class="modal-body">

                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="expenseCategoryName" type="hidden" class="form-control" name="expenseCategoryName" value="{{ categories.name }}">
                                      </div>
                                   </div>

                                   <div class="form-group">
                                    <label for="inputNewExpenseCategory">Nowa nazwa kategorii:</label>
                                    <div class="input-group">
                                       <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                       <input id="inputNewExpenseCategory" type="text" class="form-control" name="inputNewExpenseCategory" placeholder="Nowa nazwa" value="{{ categories.name }}" required />
                                    </div>
                                 </div>

                                   <button type="submit" class="btn btn-success">Zmień</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>

                    <div class="modal fade" id="delete_expense_category_{{ categories.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_expense_category_{{ categories.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="delete_expense_category_{{ categories.id }}">Usuwanie katerogii wydatków</h2>
                             </div>

                             Czy jesteś pewny, że chcesz usunąć kategorię - {{ categories.name }}?

                             <form method="POST" action="/settings/deleteExpenseCategory">
                                <div class="modal-body">
                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="expenseCategoryId" type="hidden" class="form-control" name="expenseCategoryId" value="{{ categories.id }}">
                                      </div>
                                   </div>
                                   <button type="submit" class="btn btn-success">Tak</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>
                 {% endfor %}

                 <div class="col-sm-12" style="padding: 30px;">
                    <button type="button" class="btn btn-success btn-block" href="#add_new_expense_category" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Dodaj nową kategorię</button>
                 </div>


                 <div class="modal fade" id="add_new_expense_category" tabindex="-1" role="dialog" aria-labelledby="add_new_expense_category" aria-hidden="true">
                  <div class="modal-dialog" role="document">

                      <div class="modal-content">

                         <div class="modal-header">
                               <h2 class="modal-title" id="add_new_expense_category">Dodawanie nowej kategorii wydatków</h2>
                         </div>

                         Aby dodać nową kategorię, wypełnij poniższe pole

                         <form method="POST" action="/settings/addExpenseCategory">
                            <div class="modal-body">

                               <div class="form-group">
                                <label for="inputNewExpenseCategory">Nowa nazwa kategorii:</label>
                                <div class="input-group">
                                   <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                   <input id="inputNewExpenseCategory" type="text" class="form-control" name="inputNewExpenseCategory" placeholder="Nazwa kategorii" required />
                                </div>
                             </div>

                               <button type="submit" class="btn btn-success">Dodaj</button>
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                         </form>

                      </div>
                  </div>
                </div>

              </div><br/>

              <button class="btn btn-warning btn-block custom-btn" data-toggle="collapse"  data-target="#editPaymentMethods"><b>Matody płatności</b></button>
              <div id="editPaymentMethods" class="collapse">

                 {% for method in payment_method %}
                 <div style="padding: 30px;">
                       <div class="col-sm-6">
                          {{ method.name }}
                       </div>
                        <div class="col-sm-6">
                           <div class="col-sm-6">
                                <button type="button" class="btn btn-primary btn-block" href="#edit_payment_method_{{ method.id }}" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Edytuj</button>
                             </div>
                             <div class="col-sm-6">
                                <button type="button" class="btn btn-danger btn-block" href="#delete_payment_method_{{ method.id }}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
                             </div>
                        </div>
                     </div>

                     <div class="modal fade" id="edit_payment_method_{{ method.id }}" tabindex="-1" role="dialog" aria-labelledby="edit_payment_method_{{ method.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="edit_payment_method_{{ method.id }}">Edycja metod płatności</h2>
                             </div>

                             Aby zmienić nazwę metody płatności, wypełnij poniższe pole

                             <form method="POST" action="/settings/editPaymentMethods">
                                <div class="modal-body">

                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="paymentMethodName" type="hidden" class="form-control" name="paymentMethodName" value="{{ method.name }}">
                                      </div>
                                   </div>

                                   <div class="form-group">
                                    <label for="inputNewPaymentMethod">Nowa metoda płatności:</label>
                                    <div class="input-group">
                                       <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                       <input id="inputNewPaymentMethod" type="text" class="form-control" name="inputNewPaymentMethod" placeholder="Nowa nazwa" value="{{ method.name }}" required />
                                    </div>
                                 </div>

                                   <button type="submit" class="btn btn-success">Zmień</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>

                    <div class="modal fade" id="delete_payment_method_{{ method.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_payment_method_{{ method.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">

                          <div class="modal-content">

                             <div class="modal-header">
                                   <h2 class="modal-title" id="delete_payment_method_{{ method.id }}">Usuwanie metody płatności</h2>
                             </div>

                             Czy jesteś pewny, że chcesz usunąć metodę płatności - {{ method.name }}?

                             <form method="POST" action="/settings/deletePaymentMethod">
                                <div class="modal-body">
                                   <div class="form-group">
                                      <div class="input-group">
                                         <input id="paymentMethodId" type="hidden" class="form-control" name="paymentMethodId" value="{{ method.id }}">
                                      </div>
                                   </div>
                                   <button type="submit" class="btn btn-success">Tak</button>
                                   <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                                </div>
                             </form>

                          </div>
                      </div>
                    </div>
                 {% endfor %}

                 <div class="col-sm-12" style="padding: 30px;">
                    <button type="button" class="btn btn-success btn-block" href="#add_new_payment_method" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Dodaj nową metodę płatności</button>
                 </div>


                 <div class="modal fade" id="add_new_payment_method" tabindex="-1" role="dialog" aria-labelledby="add_new_payment_method" aria-hidden="true">
                  <div class="modal-dialog" role="document">

                      <div class="modal-content">

                         <div class="modal-header">
                               <h2 class="modal-title" id="add_new_payment_method">Dodawanie nowej metody płatności</h2>
                         </div>

                         Aby dodać nową metodę płatności, wypełnij poniższe pole

                         <form method="POST" action="/settings/addPaymentMethod">
                            <div class="modal-body">

                               <div class="form-group">
                                <label for="inputNewPaymentMethod">Nowa nazwa metody:</label>
                                <div class="input-group">
                                   <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                   <input id="inputNewPaymentMethod" type="text" class="form-control" name="inputNewPaymentMethod" placeholder="Nazwa kategorii" required />
                                </div>
                             </div>

                               <button type="submit" class="btn btn-success">Dodaj</button>
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                         </form>

                      </div>
                  </div>
                </div>

              </div><br/>

              <button class="btn btn-warning btn-block custom-btn" data-toggle="collapse"  data-target="#editUser"><b>Profil użytkownika</b></button>
              <div id="editUser" class="collapse">

                <br/><b>Użytkownik: {{ current_user.username }} </b>

                 <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px; padding-top: 30px;">
                    <button type="button" class="btn btn-primary btn-block" href="#edit_name" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Zmień nazwę użytkownika</button>
                 </div>

                 <div class="modal fade" id="edit_name" tabindex="-1" role="dialog" aria-labelledby="edit_name" aria-hidden="true">
                  <div class="modal-dialog" role="document">

                      <div class="modal-content">

                         <div class="modal-header">
                               <h2 class="modal-title" id="edit_name">Zmiana nazwy użytkownika</h2>
                         </div>

                         <form method="POST" action="/settings/changeUsername">
                            <div class="modal-body">

                               <div class="form-group">
                                <label for="newUsername">Nowa nazwa użytkownika:</label>
                                <div class="input-group">
                                   <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                   <input id="newUsername" type="text" class="form-control" name="newUsername" placeholder="Nazwa użytkownika" required />
                                </div>
                             </div>

                               <button type="submit" class="btn btn-success">Zmień</button>
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                         </form>

                      </div>
                  </div>
                </div>

                 <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px; padding-top: 10px;">
                    <button type="button" class="btn btn-primary btn-block" href="#edit_password" data-toggle="modal"><span class="glyphicon glyphicon-lock"></span> Zmień hasło</button>
                  </div>

                  <div class="modal fade" id="edit_password" tabindex="-1" role="dialog" aria-labelledby="edit_password" aria-hidden="true">
                  <div class="modal-dialog" role="document">

                      <div class="modal-content">

                         <div class="modal-header">
                               <h2 class="modal-title" id="edit_password">Zmiana hasła</h2>
                         </div>

                         <form method="POST" action="/settings/editPassword" id='editPassword'>
                            <div class="modal-body">

                               <div class="form-group">
                                  <label for="oldPassowrd">Obecne hasło:</label>
                                  <div class="input-group">
                                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                     <input id="oldPassowrd" type="password" class="form-control" name="oldPassowrd" placeholder="Obecne hasło" required />
                                  </div>
                               </div><br />

                               <div class="form-group">
                                  <label for="newPassword">Nowe hasło:</label>
                                  <div class="input-group">
                                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                     <input id="newPassword" type="password" class="form-control" name="newPassword" placeholder="Nowe hasło" required />
                                  </div>
                               </div>

                               <div class="form-group">
                                  <label for="newPasswordConfirmation">Potwierdź nowe hasło:</label>
                                  <div class="input-group">
                                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                     <input id="newPasswordConfirmation" type="password" class="form-control" name="newPasswordConfirmation" placeholder="Potwierdzenie hasła" required />
                                  </div>
                               </div>

                               <button type="submit" class="btn btn-success">Zmień</button>
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                         </form>

                      </div>
                  </div>
                </div>

                  <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px; padding-top: 10px;">
                     <button type="button" class="btn btn-primary btn-block" href="#delete_user" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Usuń użytkownika</button>
                  </div>


                     <div class="modal fade" id="delete_user" tabindex="-1" role="dialog" aria-labelledby="delete_user" aria-hidden="true">
                        <div class="modal-dialog" role="document">

                           <div class="modal-content">

                              <div class="modal-header">
                                 <h2 class="modal-title" id="delete_user">Usuwanie użytkownika</h2>
                              </div>
                              <form method="POST" action="/settings/deleteUser">
                                 <div style="color: red; font-size: 40px;">
                                    <b>Uwaga!</b>
                                 </div>

                                 Czy jesteś pewien, że chcesz usunąć konto użytkownika?
                                 Spowoduje to bezpowrotne usunięcie wszystkich przychodów, wydatków i danych

                                 <div><br/>
                                    <button type="submit" class="btn btn-success">Tak</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                                 </div><br/>
                              </form>
                              </div>

                           </div>
                        </div>
                     </div>


             </div><br/>

           </article>
        </div>
     </div>
  </div>
</main>
{% endblock %}
