<!DOCTYPE html>
<html lang="en">
	<head>

	  <title>Finance Assistant</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Web application that will help you plan your home budget">
	  <meta name="keywords" content="finance, assistant, help, home, budget, money, save">
	  <meta name="author" content="Tomasz Jóźwiak">

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/css/main.css">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300i,400,700" rel="stylesheet">

  </head>

  <body>

     <header>
        <div class="jumbotron">
           <div class="row" style="font-size: 60px;">
              <a href="/index.php"> <img src="/img/saving-pig.png" width="100" height="100" alt="brand-pig" ><b> FINANCE ASSISTANT </b></a>
           </div>
           <div class="row" style="font-size: 20px; margin-bottom: 10px;">
              <a href="/"><i>Twoj domowy doradca oszczędzania</i></a>
           </div>
        </div>

        <nav class="navbar">
           <div class="container-fluid">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
              </div>
           </div>
           <div class="collapse navbar-collapse" id="mainmenu">
              <ul class="nav nav-pills navbar-center">
                 <li><a href="/login\new"><span class="glyphicon glyphicon-log-in"></span> Logowanie </a></li>
                 <li><a href="/signup\new"><span class="glyphicon glyphicon-hand-right"></span> Rejestracja</a></li>
              </ul>
           </div>
        </nav>
     </header>

     {% block body %}
     {% endblock %}

	  {% block footer %}
	  {% endblock %}

     <script src="/js/finance_assistant.js"></script>
     <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
     <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
  </body>
</html>
